
h2 {
  font-size: 3rem;
  margin: 1.5rem 0;
}

p {
  font-size: 18px; 
}

.changed {
  font-size: 1rem; 
}

@media screen and (max-width: 990px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 328px) {
  html {
    font-size: 5px;
  }
}