@color-bg: #EEEEEE;
@color-nav: #A4A4A4;
@color-bg-accordion: #D2D2D2;
@color-section: #484848;
.gradient1 {	
	background: -webkit-linear-gradient(bottom, #403A92, #5D73F7);
	background: -o-linear-gradient(bottom, #403A92, #5D73F7);
	background: linear-gradient(to top, #403A92, #5D73F7);
}
.gradient-nav {
	background: -webkit-linear-gradient(bottom, #767676, #151515);
	background: -o-linear-gradient(bottom, #767676, #151515);
	background: linear-gradient(to top, #767676, #151515);	
}
.border-radius {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
}

@import "bootstrap.min.css";
@import "reset.css";

body {
	background: url(../img/bg.png) repeat #353535;
	background-attachment: fixed;
	font-size: 1.2em;
	overflow-x: hidden;
}

p {
	text-indent: 25px; 
	padding: 10px;
}

a, a:hover {text-decoration: none;}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

/* -- HEADER -- */
.slogun {
	min-width: 30rem;
	color: @color-nav;
}

.navbar-default {
	.gradient-nav;
	transition: all 0.5s ease 0s;
	border: none;
	.navbar-nav {
		li {
			a {
		position: relative;
		color: @color-nav;

		&:hover {
		.gradient1;
		position: relative;
		transform: rotate(7deg);
		color: @color-nav;
		font-size: 130%;
		transition-duration: .8s;
}}}}}

/* -- SECTION -- */

section {
	background-color: @color-bg;
	margin-top: -10px;
	border-radius: 5px;
	padding: 10px 0.1%;
}


.button-show {
	position: relative;
	right: 1000px;
}

.box{
	margin: 100px auto;
	width: 300px;
	height: 50px;
}

.container-1{
	width: 300px;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;

	input#search{
		width: 300px;
		height: 50px;
		background: #2b303b;
		border: none;
		font-size: 10pt;
		float: left;
		color: @color-nav;
		padding-left: 45px;
		.border-radius;
}}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

/* -- FOOTER -- */

.go-to-top {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 7%;
	max-width: 60px;
	bottom: 2%;
	right: 2%;	
	border: none;
	.gradient1;
	.btn-lg {
		.border-radius;
}}

.sds {
	margin: 10px;
    -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5); 
    -moz-box-shadow:    2px 2px 4px 2px rgba(0, 0, 0, 0.5); 
    box-shadow:         2px 2px 4px 2px rgba(0, 0, 0, 0.5); 
    /*box-shadow: inset(тень внутри) <сдвиг по x> <сдвиг по y> <радиус размытия> <растяжение> <цвет>*/
}

/*ACCORDION*/
#accordion {
	.panel{
		border: none;
		box-shadow: none;
		border-radius: 0;
		margin-bottom: 5px;
	}
	.panel-heading{
		padding: 0;
		border-radius: 0;
		text-align: center;
		border: none;
	}
	.panel-body{
	font-size: 14px;
	color: @color-section;
	background: @color-bg-accordion;
	padding: 15px 20px;
	line-height: 25px;
	border: none;
	position: relative;
	&:after{
		content: "";
		position: absolute;
		top: -30px;
		left: 40px;
		border: 15px solid transparent;
		border-bottom: 15px solid @color-bg;
	}}
	.panel-title {
		a{
			display: block;
			padding: 15px;
			font-size: 20px;
			color: @color-bg;
			background: #5A768A;
			transition: all 0.5s ease 0s;
			&:hover{
			background: #414041;
	}}}}
/*ACCORDION*/

/*ADAPTIVE FONTS*/

h2 {
  font-size: 3rem;
  margin: 1.5rem 0;
}

p {
  font-size: 18px; 
}

.changed {
  font-size: 1rem; 
}

@media screen and (max-width: 990px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 328px) {
  html {
    font-size: 5px;
  }
}
/*ADAPTIVE FONTS*/

/*ADAPTIVE VIDEO*/
iframe {
	width: 100%;
	height: 70%;
	border: none;
}

.relation {
	position: relative;
	margin: auto;
}

.relation__ratio-16x9 {
	padding-top: 56.25%;
}

.relation__ratio-4x3 {
	padding-top: 75%;
}

.relation__ratio-1x1 {
	padding-top: 100%;
}

.relation__content {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #eee;
}

.video_size {
	max-width: 700px;
}
/*ADAPTIVE VIDEO*/

/*ADAPTIVE MENU*/
nav .wrapper {
  position: relative;
}

.menu {
	li {
	  float: left;
	  a {
		  display: inline-block;
		  padding: 10px 15px;
}}}

.menuToggle { 
  padding: 10px 15px;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background: #EEEEEE;
    li {
    float: none;
  }}

  .menuToggle {
    display: inline-block;
    color: #000;
  }
}
/*ADAPTIVE MENU*/