
body {
font: 62.5%/1.6 Verdana, Tahoma, sans-serif;
color: #333333;
}
h1, h2 {
color: #ff6600;
}
header, main, footer {
margin: 30px auto;
width: 600px;
}
#content {
padding: 8px;
}
.box {
border:1px solid #ccc;
border-radius:4px;
box-shadow:0 0 2px #ccc;
}