/*------------------------------------*\
	СБРОС
\*------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{
	margin:0;
	padding:0;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img{
	border:0;
}
address,caption,cite,code,dfn,th,var{
	font-style:normal;
	font-weight:normal;
}
caption,th{
	text-align:left;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}
q:before,q:after{
	content:'';
}
abbr,acronym{
	border:0;
}

/*------------------------------------*\
	ОСНОВНЫЕ ПРАВИЛА
\*------------------------------------*/
		body{
			margin:auto;
			font-family: Arial, "MS Trebuchet", sans-serif;
			width: 960px;
			border: 1px solid #000;	
			border-radius: 5px;
		}
		header, footer, article, aside, section, main, nav, div, table, select, form{	
			border: 1px solid #000;	
			border-radius: 5px;
			margin:5px;
		}
		// article, aside, section, main, nav, div{
		// 	margin:5px;
		// }

/*---------HEADER--------*/
#page_header{ 
	width:100%;
	height:150px;
	margin-bottom:10px;
}

/*---------CONTENT--------*/
#section_content{
	float: left;
	width: 73%;
}

/*---------NAV--------*/
#section_nav{
	float: left;
	width: 24%;
}

/*---------FOOTER--------*/
#page_footer{
	width:100%;
	clear: both;
	display: block;
	text-align: center;
}
	#scrollup {
	position: fixed; /* фиксированная позиция */
	opacity: 0.8; /* прозрачность */
	padding: 15px 10px 10px; /* отступы */
	background: #aaa;
	border-radius: 5px; /* скругление углов */
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	left: 10px; /* отступ слева */
	bottom: 10px; /* отступ снизу */
	display: none; /* спрятать блок */
	cursor: pointer;
	}
